/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 9, 2026, 3:18:31 PM
    Author     : user
*/

#wrapper { text-align: center; 
			width: 960px; 
			background-color: #CCB9A1;
			margin-left: auto; 
			margin-right: auto; }


#floatRight { float: left; }


.layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.left {
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: auto;
}